@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

:root {
  --greywhite: #E7ECEF;
  --darkerblue: #274C77;
  --lighterblue: #6096BA;
  --skyblue: #A3CEF1;
  --browngrey: #8B8C89;
  --blackblueish: #34495e;
  --dark: #373349;
  --shadow: rgba(0, 0, 0, .2);
}

@font-face {
  font-family: "Arctica";
  src: url(fonts/ArcticFF/Arctic.otf) format("opentype");
}

@font-face {
  font-family: "Comfortaa";
  src: url(fonts/Comfortaa/Comfortaa-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Bauhaus";
  src: url(fonts/Bauhaus/BauhausStd-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "TheSans";
  src: url(fonts/Tonnelier/Tonnelier-Medium.ttf) format("truetype");
}

html,
body {
  margin: 0;
  font-size: 20px;
  height: 100%;
  font-family: 'TheSans', sans-serif;
  /* font-family: 'Montserrat', sans-serif; */
  line-height: 1.6;
  margin: 0;
  min-height: 100vh;
  background-color: var(--greywhite);
  color: var(--greywhite);
}

.header {
  display: flex;
  padding-top: .5em;
  padding-bottom: .5em;
  background-color: var(--skyblue);
  border-radius: 5px;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  text-decoration: none;
}

.videoWrapper {
  position: relative;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  /* grid-auto-flow: dense; */
  max-width: 1800px;
  margin: 15px auto;
  padding: 0 10px;
}

.videoWrapperProj .project{
  display: block;
  position: relative;
  /* width: 100%; */
  max-width: 1800px;
  max-height: 800px;
  margin: 15px auto;
  padding: 0 10px;
}

.videoWrapper video{
  object-fit: cover;
  width: 100%;
  height:25vh;
  align-items: center;
  display: flex;
  justify-content: center;
  box-sizing: content-box;
  overflow: hidden;
  display: inline-block;
  cursor: pointer;
}

.videoWrapper iframe{
  object-fit: cover;
  width: unset;
  height: 45vh;
  align-items: center;
  display: flex;
  justify-content: center;
  box-sizing: content-box;
  overflow: hidden;
  display: inline-block;
  cursor: pointer;
}

#background {
  width: 100%;
  max-width: 1800px;
  display: flex;
  background-color: var(--browngrey);
  margin: auto;
}

main {
  margin: 0 auto;
  width: 80%;
}

p {
  color: var(--greywhite);
  font-size: 1.1rem;
  line-height: 1.7rem;
}

h1,
h2 {
  color: var(--blackblueish);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-family: 'Comfortaa', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.logo {
  margin: 0;
  font-size: 1.45em;
  z-index: 990;
}

.main-nav {
  display: flex;
  margin-top: 5px;
}

.logo a,
.main-nav a {
  padding: 10px 15px;
  text-transform: uppercase;
  text-align: center;
  display: block;
  color: var(--blackblueish);
}

.main-nav a {
  color: var(--blackblueish);
  font-size: .99em;
}

.main-nav a:hover {
  color: var(--lighterblue);
}

#audio {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: 50px auto;
}


.gallery-image {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery-image img {
  height: 250px;
  width: 350px;
  transform: scale(1.0);
  transition: transform 0.4s ease;
}

.img-box {
  box-sizing: content-box;
  margin: 10px;
  height: 250px;
  width: 350px;
  overflow: hidden;
  display: inline-block;
  color: var(--greywhite);
  position: relative;
  background-color: var(--greywhite);
}

.caption {
  position: absolute;
  bottom: 5px;
  left: 20px;
  opacity: 0.0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.transparent-box {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.3s ease;
  pointer-events: none;
}

#wrapper {
  width: 100%;
}

.one {
  background-color: var(--lighterblue);
}

.two {
  background-color: var(--browngrey);
}

button {
  display: flex;
  width: 40%;
  margin: 50px auto;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

button:hover {
  background-color: var(--darkerblue)
}

.gallery {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: 200px;
  grid-auto-flow: dense;
  max-width: 1800px;
  margin: 10px auto;
  padding: 0 10px;
}

.gallery__item {
  align-items: center;
  display: flex;
  justify-content: center;
  box-sizing: content-box;
  overflow: hidden;
  display: inline-block;
  color: var(--greywhite);
  position: relative;
  background-color: var(--greywhite);
}

.gallery__item>img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.gallery__item--hor {
  grid-column: span 2;
}

.gallery__item--vert {
  grid-row: span 2;
}

.gallery__item--lg {
  grid-column: span 2;
  grid-row: span 2;
}

.gallery__item--lghor {
  grid-column: span 3;
  grid-row: span 2;
}

.gallery__item--lghor2 {
  grid-column: span 3;
  grid-row: span 3;
}

.gallery__item:hover img {
  transform: scale(1.1);
}

.gallery__item img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.gallery__item:hover .transparent-box {
  background-color: rgba(0, 0, 0, 0.5);
}

.gallery__item:hover .caption {
  transform: translateY(-20px);
  opacity: 1.0;
}

.gallery__item:hover {
  cursor: pointer;
}

.caption>p:nth-child(2) {
  font-size: 0.8em;
}

.opacity-low {
  opacity: 0.5;
}

#caption a {
  text-decoration: underline;
  color: var(--greywhite);
}

.content a {
  text-decoration: underline;
  color: var(--greywhite);
}


.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  width: 100%;
  height: 101%;
  /* Full width */
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: var(--darkerblue);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  float: left;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 100000;
  /* Black w/ opacity */
}


/* Modal Content (image) */
.modal-content {
  margin-top: 8%;
  display: block;
  width: 100%;
  min-height: 150px;
  max-height: 50%;
}

#img01 {
  display: none;
  margin: auto;
  max-height: 600px;
  min-height: 600px;
  margin-top: 50px;
  height: auto;
  object-fit: contain;

}

#video01 {
  display: none;
  margin: auto;
  margin-top: 50px;
  max-height: 600px;
  height: auto;
  object-fit: contain;
}

#title {
  margin: auto;
  display: block;
  width: 100%;
  /* max-width: 700px; */
  text-align: center;
  color: var(--greywhite);
  margin-top: 15px;
  font-size: 80px;
}

/* Add Animation */
.modal-content,
#caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    transform: scale(0)
  }

  to {
    transform: scale(1)
  }
}

@keyframes zoom {
  from {
    transform: scale(0.1)
  }

  to {
    transform: scale(1)
  }
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  margin-bottom: 0px;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: var(--greywhite);
  padding: 50px 0;
  /* height: 100px; */
  font-size: 25px;
  overflow: hidden;
}

.close {
  /* to make a nice looking pure CSS3 close button */
  display: block;
  position: fixed;
  top: 6px;
  right: 6px;
  color: var(--greywhite);
  height: 40px;
  width: 40px;
  line-height: 45px;
  font-size: 35px;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -o-border-radius: 40px;
  border-radius: 40px;
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: var(--greywhite);
  font-weight: bold;
  font-size: 60px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  z-index: 1000000;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
  z-index: 1000000;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: rgb(255, 255, 255);
  z-index: 1000000;
}

.row {
  display: flex;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  flex: 33.33%;
}

.column img {
  min-height: 160px;
  max-height: 200px;
  max-width: 100%;
  object-fit: contain;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

footer {
  background: var(--lighterblue);
  flex: 0 0 auto;
  font: bold 1.5em;
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-top: 20px;
}

.footer p {
  color: var(--greywhite);
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

.footer h3 {
  width: fit-content;
  font-size: 1rem;
  font-weight: 300;
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: var(--greywhite);
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}

.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: var(--greywhite);
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

textarea {
  resize: none;
}

.text {
  color: var(--greywhite);
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  white-space: nowrap;
}

.footerText p {
  color: var(--greywhite);
  margin: 15px 0 10px 0;
  font-size: 18px;
  font-weight: 300;
  display: inline-block;
  line-height: 0.005px;
  opacity: 0.75;
}

.footer h3 {
  color: var(--greywhite);
  display: inline-block;
  line-height: 0.005px;
  margin-top: 12px;
}

.footerText li {
  height: 1.2em;
}

footer .rights {
  font-size: 14px;
  font-weight: 300;
  color: var(--greywhite);
  display: inline-block;
  line-height: 0.05px;
  padding-bottom: 2.5px;
  opacity: 0.75;
}

.rounded-social-buttons {
  text-align: center;
}

.rounded-social-buttons .social-button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 3.125rem;
  height: 3.125rem;
  /* border: 0.125rem solid transparent; */
  padding: 0;
  text-decoration: none;
  text-align: center;
  color: var(--greywhite);
  font-size: 1.5625rem;
  font-weight: normal;
  line-height: 2em;
  border-radius: 1.6875rem;
  transition: all 0.5s ease;
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
}

.rounded-social-buttons .social-button:hover,
.rounded-social-buttons .social-button:focus {
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

/* .rounded-social-buttons .fa-twitter,
.fa-facebook-f,
.fa-linkedin,
.fa-youtube,
.fa-instagram {
  font-size: 25px;
} */

.rounded-social-buttons .social-button.github {
  background: #333;
}

.rounded-social-buttons .social-button.github:hover,
.rounded-social-buttons .social-button.github:focus {
  color: #333;
  background: var(--greywhite);
  border-color: #333;
}

.rounded-social-buttons .social-button.renderhub {
  line-height: 2em;
  border-radius: 1.6875rem;
  transition: all 0.5s ease;
  margin-top: 1rem;
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
  background: #292929;
}

.leftRenderhub {
  fill: #a3a3a3;
}

.rightRenderhub {
  fill: var(--greywhite);
}

.rounded-social-buttons .social-button.renderhub:hover,
.rounded-social-buttons .social-button.renderhub:focus {
  background: var(--greywhite);
}

.rounded-social-buttons .social-button.renderhub:hover .leftRenderhub,
.rounded-social-buttons .social-button.renderhub:focus .leftRenderhub {
  background: var(--greywhite);
  fill: #a3a3a3;
}

.rounded-social-buttons .social-button.renderhub:hover .rightRenderhub,
.rounded-social-buttons .social-button.renderhub:focus .rightRenderhub {
  background: var(--greywhite);
  fill: #2e2e2e;
}

.rounded-social-buttons .social-button.linkedin {
  background: #007bb5;
}

.rounded-social-buttons .social-button.linkedin:hover,
.rounded-social-buttons .social-button.linkedin:focus {
  color: #007bb5;
  background: var(--greywhite);
  border-color: #007bb5;
}

.rounded-social-buttons .social-button.youtube {
  background: #bb0000;
}

.rounded-social-buttons .social-button.youtube:hover,
.rounded-social-buttons .social-button.youtube:focus {
  color: #bb0000;
  background: var(--greywhite);
  border-color: #bb0000;
}

.rounded-social-buttons .social-button.instagram {
  background: linear-gradient(-45deg, #ed1c94, #ffec17);
}

.rounded-social-buttons .social-button.instagram:hover,
.rounded-social-buttons .social-button.instagram:focus {
  color: #ed1c94;
  background: var(--greywhite);
  border-color: #bb0000;
}


header>img {
  width: 100px;
  padding-left: 40px;

}

header>a {
  padding-right: 40px;
}

.navBar {
  position: absolute;
  display: none;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  right: 5px;
  top: 55px;
  font-family: 'Bauhaus', sans-serif;
}

.navBar img {
  height: 48px;
  margin: 0;
  cursor: pointer;
  z-index: 999;
}

#closebtn {
  height: 48px;
  display: none;
  right: 0;
  margin: 5px;
  cursor: pointer;
  z-index: 999;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  line-height: 2em;
  font-family: 'Bauhaus', sans-serif;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 120px;
}

#mySidebar {
  transition: 0s;
  background-color: var(--skyblue);
  transition: 1s;
}

.sidebar a {
  text-transform: uppercase;
  font-family: 'Bauhaus', sans-serif;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: var(--blackblueish);
  font-size: .99em;
  display: block;
  right: 0;
  transition: 0.3s;
  margin-top: 5px;
  margin-left: 50px;
}

.sidebar a:hover {
  color: var(--lighterblue);
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.transin {
  left: 5%;
  transition: 0.5s;
}

.transout {
  left: -65%;
  transition: 0.5s;
}

#menu {
  height: 22px;
  padding-left: 5px;
}

#toTop {
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: var(--browngrey);
  cursor: pointer;
  padding: 15px;
  border-radius: 60px;
  border-radius: 60px;
  width: 96px;
  height: 96px;
}

#toTop img {
  color: var(--browngrey);
  height: 48px;
}


.hide {
  opacity: 0;
  transition: opacity 1.5s;
}

.show {
  opacity: 1;
  transition: opacity 1.5s;
}

#LogoVideo {
  width: 80%;
  height: 50%;
  mix-blend-mode: screen;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}

.projectVid {
  width: 80%;
  height: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}


@media only screen and (max-width: 844px) {

  footer .rights {
    width: fit-content;
    font-size: 10px;
    font-weight: 300;
  }

  .videoWrapper {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-auto-flow: dense; */
    max-width: 1800px;
    margin: 15px auto;
    padding: 0 10px;
  }

  .modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    width: 100%;
    height: 101%;
    /* Full width */
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: var(--darkerblue);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    float: left;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 100000;
    /* Black w/ opacity */
  }


  /* Modal Content (image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 100%;
    min-height: 150px;
    max-height: 50%;
  }

  #title {
    margin: auto;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    /* max-width: 700px; */
    text-align: center;
    color: var(--greywhite);
    margin-top: 15px;
    font-size: 75px;
    font-size: 14vw;
  }


  #img01 {
    display: none;
    max-height: 300px;
    max-width: 100%;
    max-height: 100%;
    min-height: 450px;
    margin-top: 25px;

  }

  #video01 {
    display: none;
    max-height: 300px;
    max-width: 100%;
    /* max-height:100%; */
    min-height: 450px;
    margin-top: 25px;
  }

  #caption {
    position: relative;
    width: 100%;
    padding: 10px 0;
    margin-top: 50px;
  }

  .navBar {
    display: flex;
  }

  .main-nav {
    display: none;
  }

  #toTop {
    width: 60px;
    height: 60px;
    bottom: 50px;
    right: 30px;
  }

  #toTop img {
    height: 36px;
  }

  .project {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    height: 60%;
  }
}